.fix-button {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0.6rem 0.7rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: sans-serif;
}

img {
  margin-right: 0.5rem;
}
